*{
    font-family: 'Montserrat', sans-serif;
}

.botones {
    padding: 25px 0;
}

.recetas-guardadas {
    padding: 25px 0;
    margin: 25px 0;
}

.instrucciones {
    padding: 25px 0;
    margin: 25px 0;
}

.guia-extractos__informacion {
    margin-top: 40px;
}