*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.botones {
    padding: 0.5rem 0;
}

.recetas-guardadas {
    padding: 2rem 0;
    margin: 2rem 0;
}

.instrucciones {
    padding: 1rem 0;
    margin: 1rem 0;
}

.guia-extractos__informacion {
    margin-top: 40px;
}